body {background-color: #FAFBFB;
}

/* 

*/
  .container {
    display: inline-grid;
    
  }


  body {
    background-color: #FAFBFB;
    font-family: 'Manrope', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #191919;
  }

   /* Link Styling*/

  a {
    color: #191919;
    text-decoration: none; /* No underlining */
    vertical-align: middle;
  }

  
  .center {
    text-align: center;
  }


  /* Top Bar*/

  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  
  
  /*======================================================
                            Navbar
    ======================================================*/
    header {
      text-align: unset;
      position: fixed;
      background-color: #FAFBFB;
      width: 100%;
      align-items: center;
    }

  
   #navbar {
    top: 0;
    width: 100%;
    height: 5%;
    padding: 10px 20px;
    overflow: auto;
    align-items: center;
   }
  
   nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }

  .navtoggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }

  .logo {
    left: 0;
    width: 48px;
    max-width: 64px;
    padding: 10px 20px;

  }

  nav > ul {
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


    nav > ul > li > a {
      color: #191919;
      align-items: center;
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none;
      margin: 0px 10px;
      padding: 10px 10px;
    }


    .navtoggle ul li a.icon {
      position: absolute;
      right: 0;
      display: inline;
      top: 30px;
      bottom: 20px;
      padding: 10px 20px;
      font-size: 24px;
    }

    .navtoggle.responsive li  {
      display: block;
    }

    .navtoggle, .navtoggle.responsive {
      position: relative;
    }

    .navtoggle li:not(:last-child) {
      display: none;
    }

    .navtoggle.responsive nav {
      padding: 24px 0 0;
    }

    .navtoggle.responsive .logo {
      display: none;
    }

    .navtoggle.responsive .navlinks {
      padding-top: 40px;
      text-align: right;
    }


    .navtoggle.responsive li  {
      display: block;
      height: fit-content;
      width: 100%;
      padding: 10px 0;
      background-color: #fafbfb61;
    }
    
    .navtoggle.responsive li:last-child  {
      padding: 0 0 10px;
    }



  

  
    .nav-link {
      transition: 0.7s ease;
    }
  
  

  
  
  /* end top bar */
   

  main {
    padding-top: 115px;
    padding-left: 20px;
    padding-right: 20px;
  }



  /* Hero*/

  .hero-container {
    display: grid
  }

  #hero-text > h1 {
    line-height: 1;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  #hero-image {
    vertical-align: middle;
  }
  /* Hero*/


  /* Headings styling*/
  h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.45em;
    font-weight: 800;
    letter-spacing: 1px;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 700;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 500;
  }

  h5 {
    font-size: 18;
    font-weight: 600;
  }
  /* Headings styling*/



  img {
    width: 100%;
  }


  /* General Button styling*/
  .button {
    display: inline-block;
    background-color: #B6D5F6;
    color: #191919; 
    font-weight: 300;
    padding: 10px 15px;
    border-radius: 6px;
    transition-duration: 0.2s;
    transition-property: color;
  }

  .button:hover {
    background-color: #D3E3F5;
  }

  .button:active {
    color: #191919;
  }
  /* General Button styling*/



 /* Contact button */
  .button.contact {
    background-color: #65A3E5;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #FAFBFB;
    font-size: 15px;
    width: 150px;
    height: 30px;
    line-height: auto;
    border-radius: 12px;
  }

 /* Contact button */



 /* Layout Styling */



 /* Projects Navigation */
 
 .projects-nav-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto 40%;
  padding-bottom: 30px;
  padding-top: 50px;

}

 /* Projects Navigation Transition */

  div.projects-nav-container a
  {
      color: #191919;
      align-items: center;
      justify-items: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      margin: 0px 10px;
      padding: 10px 10px;
      position: relative;
      z-index: 0;
      cursor: pointer;
  }

  div.projects-nav-container a:before, div.projects-nav-container a:after
  {
      position: absolute;
      opacity: 0.5;
      height: 100%;
      width: 2px;
      content: '';
      transition: all 0.3s;
  }

  div.projects-nav-container a:before
  {
      left: 0px;
      top: 0px;
  }

  div.projects-nav-container a:after
  {
      right: 0px;
      bottom: 0px;
  }

  div.projects-nav-container a:hover:before, div.projects-nav-container a:hover:after
  {
      opacity: 1;
      height: 2px;
      width: 100%;
  }


 /* Projects Navigation */


 /* About Page*/
  #about-hero {
    display: inline-block;
  }


  #about-hero-text > h1 {
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 50px;
    text-wrap: balance;
    
  }

  .resume-container {
    display: inline-flex;
    align-items: center;
    padding: 30px 0 40px;
    gap: 20px;
  }
 /* About Page*/



 /* Branding Page*/  
  #brand-guidelines {
    line-height: 1;
  }



 /* Footer */

  #contact {
    display: grid;
    background-color: #DCEBFC;
    color: #191919;
    text-align: left;
    padding: 10px 20px;
    margin-top: 20px;
  }


  #contact > h2 {
    padding-bottom: 15px;
  }

  #contact > p1 {
    padding-bottom: 15px;
  }


  #social-media-links {
    display: inline-flex;
    align-items: center;
    padding: 10px 0 20px 0;
    gap: 30px;
  }

  #linkedin-icon {
    width: 48px;
    color: #65A3E5;
  }

  #behance-icon {
    width: 48px;
    color: #65A3E5;
  }


  #arrow {
    width: 100%;
    height: 40px;
    margin-left: 0%;
    animation-duration: 0.8s;
    animation-name: arrow-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  


 /* Footer */



 @keyframes arrow-move {
  from {
    transform: translate(0, 0px);
  }
  to {
    transform: translate(10px, 0px);
    transform: rotate(25deg);
  }
}






/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
 header {
    text-align: unset;
    position: fixed;
 }

 #navbar {
  top: 0;
  width: 100%;
  height: 5%;
  padding: 10px 30px;
  overflow: auto;
 }

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

 .logo {
  width: 56px;
  padding: 10px 30px;

}

.navtoggle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}



 #hero-image {
  max-height: 200px;
 }
 

 .navtoggle li:not(:last-child) {
  display: inline-block;
  align-items: center;
}

.navtoggle li:last-child {
  display: none;
}


nav > ul {
  right: 0;
  align-items: center;
}

/* Full Nav menu transitions */
  
nav > ul > li > a {
  color: #191919;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

nav > ul > li > a::before, 
nav > ul > li > a::after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #000000;
  transition: all 0.3s;
}

nav > ul > li > a:before
{
  left: 0px;
  top: 0px;
}

nav > ul > li > a:after
{
  right: 0px;
  bottom: 0px;
}

nav > ul > li > a:hover:before, 
nav > ul > li > a:hover:after
{
  opacity: 1;
  width: 100%;
}

 body {
    font-size: 1.125em;
 }

 main {
    padding: 0 30px;
    padding-top: 105px;
 }
}




/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  header {
    text-align: unset;
    position: fixed;
 }

 #navbar {
  top: 0;
  width: 100%;
  height: 5%;
  padding: 10px 50px;
  overflow: auto;
 }

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

 .logo {
  left: 0;
  width: 56px;
  padding: 10px 50px;

}

.navtoggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}


.navtoggle li:last-child {
  display: none;
}


nav > ul {
  right: 0;
  align-items: center;
}

/* Full Nav menu transitions */
  
nav > ul > li > a {
  color: #191919;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

nav > ul > li > a::before, 
nav > ul > li > a::after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #000000;
  transition: all 0.3s;
}

nav > ul > li > a:before
{
  left: 0px;
  top: 0px;
}

nav > ul > li > a:after
{
  right: 0px;
  bottom: 0px;
}

nav > ul > li > a:hover:before, 
nav > ul > li > a:hover:after
{
  opacity: 1;
  width: 100%;
}

 body {
    font-size: 1.15em;
 }

 main {
  padding: 105px 50px 0;
 }

 .about-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding-bottom: 50px;
  align-items: center;
 }

 .skills-tools {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding-bottom: 50px;
  align-items: top;
 }

 .index-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding-bottom: 50px;
  align-items: center;
  gap: 30px;
 }


 .row {
  padding: 30px 0;
 }
 
 #about-hero-text {
  padding-right: 25px;
  justify-content: center;

 }



 .hero-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  align-items: center;

 }

 #latest-projects > h2{
  padding-bottom: 50px;
 }


 #hero-image {
  justify-items: top;
  max-height: 600px;
 }

 }


/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  header {
    text-align: unset;
    padding: 20px 0 15px;
    position: fixed;
   }
  
   nav {
    width: auto;
    float: right;
   }

   .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

   nav > ul > li {
    display: inline-block;
  }

  nav > ul {
    display: inline-flex;
  }

  /* Full Nav menu transitions */
  
  nav > ul > li > a {
    color: #191919;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
  
  nav > ul > li > a::before, 
  nav > ul > li > a::after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #000000;
    transition: all 0.3s;
  }

  nav > ul > li > a:before
  {
    left: 0px;
    top: 0px;
  }

  nav > ul > li > a:after
  {
    right: 0px;
    bottom: 0px;
  }

  nav > ul > li > a:hover:before, 
  nav > ul > li > a:hover:after
  {
    opacity: 1;
    width: 100%;
  }
  
   body {
      font-size: 1.15em;
   }
  
   main {
    padding: 105px 50px 0;
   }
  
   .about-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding-bottom: 50px;
    align-items: center;
   }
  
   .skills-tools {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding-bottom: 50px;
    align-items: top;
   }
  
   .index-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding-bottom: 50px;
    align-items: center;
    gap: 30px;
   }
  
  
   .row {
    padding: 30px 0;
   }
   
   #about-hero-text {
    padding-right: 25px;
    justify-content: center;
  
   }
  
  
  
   .hero-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    align-items: center;
  
   }
  
   #latest-projects > h2{
    padding-bottom: 50px;
   }
  
  
   #hero-image {
    justify-items: top;
    max-height: 600px;
   }
  
  }